
frontend-typescript/node_modules/
frontend-typescript/.env.development
frontend-typescript/.env.production
playhostProject/build/
playhostProject/src/main/resources/application.properties
playhostProject/src/main/resources/application-dev.properties
playhostProject/src/main/resources/application-prod.properties
playhostProject/src/main/resources/static/
playhostProject/src/main/resources/schema.sql
playhostProject/src/main/resources/data.sql
